parameters:
    level: 8
    paths:
        - src
        - tests

    excludePaths:
        - src/DataFixtures/*
        - src/Kernel.php
        - tests/bootstrap.php

    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/symplify/phpstan-extensions/config/config.neon
